body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
      background-color: #170CE8; /* Green */
      color: #ffffff;
  }
  .bg-2 {
      background-color: black;
      color: #ffffff;
  }
  .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .bg-6 {
  background-color: #FF9E00;
}

.carousel-control.right {
  background-image: none;
  color: black;
}
.carousel-control.left {
  background-image: none;
  color: black;
}
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 15px;
      letter-spacing: 3px;
  }
  .navbar-nav  li a:hover {
      color: #FF530D !important;
  }

  .navbar-brand{

font-family: 'Dancing Script', cursive;
font-size: 30px;
color: black;



  .carousel-inner img {
  margin: auto;
  padding-top: 50px;
}
