body {
	
}
#topContent {
	background-image:url('../img/fond.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	min-height:500px; /*A ENLEVER UNE FOIS LE CONTENU EN PLACE*/
}
	#countDown {
		margin:0 auto;
		margin-top:;
		text-align:center;
	}
		span.countDown_elem {
			font-family:"Roboto", sans-serif;
			font-weight:100;
			font-size:40px;
			color:white;
		}
	#countDown_labels {
		font-family:"Roboto", sans-serif;
		color:white;
		font-weight:500;
		font-size:14px;
		text-transform:uppercase;
		
	}
	#countDown table {
		margin:0 auto;
	}
		.countDown_labels {
			font-family:"Roboto", sans-serif;
			color:white;
			opacity:.90;
			font-weight:500;
			font-size:13px;
			text-transform:uppercase;
		}
		td.countDown_td {
			width:85px;
		}
		td.countDown_separator {
			color:#159148;
			font-size:30px;
			font-family:"Roboto", sans-serif;
			font-weight:100;
			margin:15px;
		}
	h1.titreConference {
		font-family:"Roboto", sans-serif;
		font-weight:300;
		color:white;
		font-size:40px;
		text-align:center;
		margin-top:-8px;
		/*text-transform:uppercase;*/
	}
	h5.dateConference {
		font-size:22px;
		font-family:"Roboto", sans-serif;
		font-weight:500;
		color:white;
		text-align:center;
		display:inline-block;
		width:100%;
		text-transform:uppercase;
	}
		h5.dateConference span.lineTitle {
			width:30px;
			height:1px;
			margin-left:15px;
			margin-right:15px;
			background:white;
			display:inline-block;
			vertical-align:middle;
		}

	.btn-top {
		margin-top:70px;
		border-radius:1000px;
		background:#159148;
		border:2px solid #159148;
		color:white;
		letter-spacing:2px;
		text-transform:uppercase;
		font-size:12px;
		font-family:"Roboto", sans-serif;
		padding:10px 15px;
		font-weight:500;
	}
	.btn-top:hover {
		color:white;
		background:#159148;
		border:2px solid #159148;
	}
	.btn-top-more {
		margin-left:40px;
		margin-top:70px;
		border-radius:1000px;
		background:white;
		border:2px solid white;
		letter-spacing:2px;
		text-transform:uppercase;
		font-size:12px;
		font-family:"Roboto", sans-serif;
		padding:10px 15px;
		font-weight:500;
	}
	.btn-top-more:hover {
		background:white;
		border:2px solid white;
	}